*{
    margin:0;
    padding:0;
    font-family: sans-serif;
 }
 .banner{
     width: 100;
     height: 100vh;
     background-image: url("bgi.jpg");
     background-size: cover;
     background-position: center;
 
 }
 .navbar{
     background: #fff;
     
     margin: auto;
     padding: 10px 120px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .logo{
     width: 100px;
     cursor: pointer;
 }
 .navbar ul li{
     list-style: none;
     display: inline-block;
     margin: 0 15px;
     position: relative;
 }
 .navbar ul li a{
     text-decoration: none;
     color: #000;
     text-transform: uppercase;
 }
 .navbar ul li::after{
     content: '';
     height: 3px;
     width: 0;
     background: rgb(181, 207, 209);
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
 }
 .navbar ul li:hover::after{
     width: 100%;
 }
 .content{
     width: 100%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     color: #62858b;
 }
 .content h1{
     font-size: 40px;
     margin-top: 80px;
 }
 .content p{
     margin: 20px auto;
     font-weight: 100;
     line-height: 25px;
 }
 button{
     width: 200px;
     padding: 15px 0;
     text-align: center;
     margin: 20px 10px;
     border-radius: 25px;
     font-weight: bold;
     border: 2px solid rgb(181, 207, 209);
     background: transparent;
     color: #62858bde;
     cursor: pointer;
     position: relative;
     overflow: hidden;
 }
 span{
     background: #62858bde;
     height: 100%;
     width: 0;
     border-radius: 25px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: -1;
     transition: 0.5s;
 }
 button:hover span{
     width: 100%;
 }
 button:hover{
     border: none;
     color: #d8dee9;
 }
 .sub-bar1{
     display: none;
 }
 .navbar ul li:hover .sub-bar1{
     display: block;
     position: absolute;
     background:#ffffffda ;
     margin-top: 8px;
     margin-left: -15px;
     padding: 20px 0; ;
 
 }
 .navbar ul li:hover .sub-bar1 ul{
     display: block;
     margin: 10px;
 }
 .navbar ul li:hover .sub-bar1 ul li{
     width: 150px;
     padding: 10px;
     background: transparent;
     border-radius: 0;
     text-align: left;
 }
 .navbar ul li:hover .sub-bar1 ul li: last-child{
     border-bottom: none;
 }
 .sub-bar2{
     display: none;
 }
 .navbar ul li:hover .sub-bar2{
     display: block;
     position: absolute;
     background:#ffffffda ;
     margin-top: 8px;
     margin-left: -15px;
     padding: 20px 0; ;
 
 }
 .navbar ul li:hover .sub-bar2 ul{
     display: block;
     margin: 10px;
 }
 .navbar ul li:hover .sub-bar2 ul li{
     width: 150px;
     padding: 10px;
     background: transparent;
     border-radius: 0;
     text-align: left;
 }
